* {
    margin: 0;
    padding: 0;
}

.ant-layout {
    height: 100vh;
}

.layout-content {
    overflow-y: auto;
}

.ant-layout .ant-layout-sider {
    // background-color: white;
}

.ant-layout-header {
    padding: 0 !important;
}