.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: rgb(215, 182, 90);
}

.ant-tabs .ant-tabs-tab:hover {
    color: rgb(215, 182, 90);
}

.ant-tabs .ant-tabs-ink-bar{
    background: rgb(215, 182, 90);
}
